@include keyframes(fadeInDown){
	0%{
		opacity: 0;
		@include transform(translate3d(0, -100%, 0));
	}
	100%{
		opacity: 1;
		@include transform(none);
	}
}
@include keyframes(fadeInLeft){
	0%{
		opacity: 0;
		@include transform(translate3d(-100%,0,0));
	}
	100%{
		opacity: 1;
		@include transform(none);
	}
}
@include keyframes(fadeInRight){
	0%{
		opacity: 0;
		@include transform(translate3d(40%,0,0));
	}
	100%{
		opacity: 1;
		@include transform(none);
	}
}
@include keyframes(fadeIn){
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}